*{
    margin: 0;
    padding: 0;
}
.topbar{
    background-color: #24292d;
    display: flex
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 2.4rem!important;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    width: 20%!important;
}
.navbar-light{
    background-color: #56575b!important;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
}
.socialicon{
    color: #fff;
}
.socialicon1{
    color: orange;
}
.topbar{
    background-color: #24292d;
}
.topbarper{
    color: #fff
}
.aboutper{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.wwdsection{
    display: flex;
    align-items: center;
}
.whatwedosection{
    background-image: url(/img/12519224763.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(0.7); */
    color: rgb(255, 255, 255);
}
.buttongroup{
    display: flex;
    justify-content: space-between;
}
.vergtitel{
color: rgb(189, 115, 5);
font-size: 24px;
}
.btn-primary {
    color: #fff;
    background-color: #bd7305!important;
    border-color: transparent!important;
}
.productgallerysection{
    padding: 12px;
    background: white;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #00000080;
}

.productgallerycol{
    padding: 10px!important;
}
.whycard{
    background: linear-gradient(359deg, #859de9, transparent);
    border: none!important;
    box-shadow: 3px 3px 9px 0px #0000008a;
}
.productgallerycol2{
padding: 25px!important;
margin-bottom: 20px;
background: linear-gradient(359deg, #859de9, transparent);
border: none!important;
box-shadow: 3px 3px 9px 0px #0000008a;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%!important;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 13.5!important;
    transition: opacity .15s ease;
}
.socialiconfooter{
color: rgb(255, 255, 255);
font-size: 35px;
}
.footeratag{
    text-decoration: none;
    color: orange;
}
.footeratag:hover{
    text-decoration: none;
    color: orange;
}
ul{
    margin: 0;
    padding: 0!important;
}
/* li{
    list-style: none;
} */
.footerlistheading{
    color: white;
}
.copyrightper{
    text-align: center;
    color: orange;
    margin: 0;
    padding: 0;
}
.headingtext{
    color: #fff;
    font-family: cursive;
    text-align: center;
}
.persondes{
    color: #3333d1;
}
.card.shadow.hopingcard {
    padding: 32px 0;
    text-align: center;
    box-shadow: 5px 5px 5px #00000087!important;
    border-radius: 16px!important;
}
.cardicon{
    font-size: 45px;
}
.contacticon{
    font-size: 45px;
    color: #f27c21;
    margin-right: 22px;
}
.conatctlink {
    text-decoration: none;
    color: white;
}
.conatctlink:hover {
    text-decoration: none;
    color: white;
}
.footerli{
    list-style: none;
}
@media only screen and (max-width: 800px) {
    .topbar {
      display: none;
    }
}